problem = "beta_bernoulli"

K, T = 5, 1000

S = 1000

priors = [ (1,1) ] * K

DEFAULT:
	algorithm = ts.Uniform( "UNIFORM", {} )
	algorithm = ts.TS_bern( "TS", {} )

UCB:
	algorithm = ucb.UCB_bern( "UCB-B005", {"beta":0.5} )
	algorithm = ucb.UCB_bern( "UCB-B010", {"beta":1.0} )
	algorithm = ucb.UCB_bern( "UCB-B020", {"beta":2.0} )
	#algorithm = ucb.UCB_bern( "UCB-B020", {"beta":3.0} )

